* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 237, 237);
    font-family: "inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.login-container {
    width: 400px;
    height: 600px;
    background-color: rgb(245, 245, 245);
    padding: 50px 40px;

}

.login-options div img {
    height: 30px;
}

.login-heading h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.login-heading p {
    font-size: 13px;
    color: gray;
    margin-bottom: 30px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.form-inputs input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
}

.login-options-container {
    margin-bottom: 30px;
}

.login-options-container p {
    color: gray;
    font-size: 13px;
    margin-bottom: 30px;
}

.login-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.login-options div {
    padding: 10px 35px;
    background-color: rgb(240, 237, 233);
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
}

.form-inputs input:focus{
    border-color: blueviolet;
    outline-color: blueviolet;
}